body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 90vh;
    width: 80vh;
    max-width: 80vh;
    background-color: var(--secondary-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.logo { 
    margin-top: 2em;
}

img {
    padding: 1em;
    height: 150px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form-input {
    display: flex;
    margin: 0.5em;
}

.form-input label {
    text-align: left;
    width: 50%;
    margin-right: 30px;
}

.form-input input {
    width: 50%;
}


button {
    margin-top: 1em;
}
